apiVersion: enmasse.io/v1beta1
kind: AddressSpace
metadata:
  name: {{ _amqonline_app_address_space_name }}
  namespace: {{ _amqonline_app_proj }}
spec:
  type: standard
  plan: standard-unlimited
  authenticationService:
    name: standard-authservice
  connectors:
  - name: remote
    endpointHosts:
    - host: {{ _amqonline_app_remote_messaging_route_url }}
      port: 443
    tls:
      caCert:
        valueFromSecret:
          name: {{ _amqonline_app_remote_messaging_secret_name }}
          key: tls.crt
    credentials:
      username:
        value: {{ _amqonline_app_remote_messaging_user_username }}
      password:
        value: {{ _amqonline_app_remote_messaging_user_password }}
    addresses:
    - name: remoteQueue
      pattern: "*"
  endpoints:
  - name: messaging
    service: messaging
    expose:
      type: route
      routeServicePort: amqps
      routeTlsTermination: passthrough
      routeHost: {{ _amqonline_app_messaging_route_url }}
    cert:
      provider: certBundle
      secretName : {{ _amqonline_app_messaging_secret_name }}
    exports:
    - kind: ConfigMap
      name: {{ _amqonline_app_connection_info_cm }}
  - name: console
    service: console
    expose:
      type: route
      routeTlsTermination: reencrypt
      routeServicePort: https
    cert:
      provider: openshift
